{% extends 'layout.html'%}
{% block content%}
<div class="row row-cols-1 row-cols-md-3 g-4 mx-auto">
    <div class="col">
      <div class="card h-100 card-about">
        <img src="static/images/nbenghi.jpg" alt="Nawal" class="img-about ml-2">
        <div class="card-body">
            <h4 class="card-title h4-about">Nawal Benghina</h4>
            <p class="card-text">
                Web Developer
            Web developer with (2) years of experience.
            Passionate about IT, especially programming
            </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-about">
        <img src="static/images/nmontas.png" alt="Nelson" class="img-about">
        <div class="card-body">
            <h4 class="card-title h4-about">Nelson Montas</h4>
            <p class="card-text">
            Architect.
            Visiting researcher at MAP-MAACC, CNRS-MCC UMR at the École Nationale Supérieure d’Architecture 
            PARIS-La-Villette (2015) and associate resercher at the Pontificia Universidad Católica Madre 
            y Maestra (2018-2019).
            Previous designer and consultant for e-architects (2017, NY, USA), INSITU Architecture (2019, 
            Paris, France) and Eca2 (2019, Paris - Hong Kong).
            Expert in simulations, biomimetics and programmable matter
            </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-about">
        <img src="static/images/gbezian.jpg" alt="Gaelle" class="img-about"> 
        <div class="card-body">
          <h4 class="card-title h4-about">Gaelle Bezian</h4>
          <p class="card-text">
            After spending 20 years working in the marketing world,
            whose technical component has grown considerably in recent years,
            Gaëlle rolled up her sleeves to do a training course to integrate 
            technical skills to her business & marketing ones in order to evolve 
            in what is now called the "MarTech" universe.
            </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
